body {
  color: #1d3557;
  font-family: sans-serif;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  height: 500px;
  width: 500px;
  border: 5px solid #a8dadc;
}

.grid-item {
  background-color: #f1faee;
}

.goal {
  background-color: #457b9d;
  border-radius: 8px;
}

.snake {
  background-color: black;
  border-radius: 4px;
}

.obstacle {
  background-color: #e63946
}

.scores {
  float: right;
}

button {
  margin: 10px;
}
